@model PizzaOrderApp1.Models.OrderViewModel

<h1 class="titletext">ORDER CHECKOUT</h1>
<h2 class="belowtitletext">Your Order :</h2>

<div class="checkoutdiv">
    <div>
        <table>
            <tr>
                <th>Pizza</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            <tr>
                <td>Margherita</td>
                <td>2</td>
                <td>Rs. 300</td>
            </tr>
        </table>
    </div>
    <form asp-controller="Order" asp-action="Confirmation" method="post">
        <input id="confirmOrder" class="confirmorderbtn" type="submit" value="Confirm Order" />
    </form>
</div>
