@model PizzaOrderApp1.Models.OrderViewModel

<h1 class="titletext">ORDER CONFIRMATION</h1>
<h2 class="belowtitletext">Your Order has been placed!</h2>
<p class="orderid">Order ID: @Guid.NewGuid()</p>

<table>
    <tr>
        <th>Pizza</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    <tr>
        <td>Margherita</td>
        <td>2</td>
        <td>Rs. 300</td>
    </tr>
</table>
